<div *ngIf="creditCard" provide-parent-form>

  <div class="row form-group">
    <label class="col-md-2 control-label" for="ccType">Credit Card</label>
    <div class="col-md-4">
      <select [(ngModel)]="creditCard.ccType" class="form-control limit-select" id="ccType" name="ccType">
        <option value="">Select...</option>
        <option value="Visa">Visa</option>
        <option value="Mastercard">Mastercard</option>
        <option value="American Express">American Express</option>
        <option value="Discover">Discover</option>
      </select>
    </div>
  </div>


  <div class="row form-group">
    <label class="col-md-2 control-label" for="txtCcNumber">Card Number</label>
    <div class="col-md-4">
      <input type="text" maxlength="20" [(ngModel)]="creditCard.ccNumber" name="txtCcNumber"
        class="form-control  input-group-lg" credit-card-number  #txtCcNumber="ngModel" required
        [ngClass]="{'error' : (txtCcNumber.touched || form.submitted) && txtCcNumber.invalid }">
      <div *ngIf="(txtCcNumber.touched || form.submitted) && txtCcNumber.invalid" class="text-danger">
        Valid Card Number Required</div>
    </div>
  </div>

  <div class="row form-group">
    <label class="col-md-2 control-label" for="groupSelector">Expiration Date</label>
    <div class="col-md-3">
      <select [(ngModel)]="creditCard.expirationMonth" name="expirationMonth" #expirationMonth="ngModel"
        class="form-control limit-select"
        [ngClass]="{'error' : (expirationMonth.touched || form.submitted)  && expirationMonth.invalid }" required
        placeholder="Month">
        <option [ngValue]="undefined"></option>
        <option value="01">01 - January</option>
        <option value="02">02 - February</option>
        <option value="03">03 - March</option>
        <option value="04">04 - April</option>
        <option value="05">05 - May</option>
        <option value="06">06 - June</option>
        <option value="07">07 - July</option>
        <option value="08">08 - August</option>
        <option value="09">09 - September</option>
        <option value="10">10 - October</option>
        <option value="11">11 - November</option>
        <option value="12">12 - December</option>
      </select>
      <div *ngIf="(expirationMonth.touched || form.submitted) && expirationMonth.invalid" class="text-danger">
        Month Required</div>

      <select [(ngModel)]="creditCard.expirationYear" name="expirationYear" #expirationYear="ngModel"
        class="form-control limit-select"
        [ngClass]="{'error' : (expirationYear.touched || form.submitted) && expirationYear.invalid }" required>
        <option [ngValue]="undefined"></option>
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
      <div *ngIf="(expirationYear.touched || form.submitted) && expirationYear.invalid" class="text-danger">
        Year Required</div>
    </div>

  </div>

  <div class="row form-group">
    <label class="col-md-2 control-label" for="cvv">CVV</label>
    <div class="col-md-4">
      <input type="text" maxlength="4" [(ngModel)]="creditCard.cvv" name="cvv" #cvv="ngModel" class="form-control"
        [ngClass]="{'error' : (cvv.touched || form.submitted) && cvv.invalid }" style="width: 70px;" required
        pattern="^(\d){3,4}$">
      <div *ngIf="(cvv.touched || form.submitted) && cvv.invalid" class="text-danger">
        Valid CVV Number Required</div>
    </div>
  </div>